BODY {
    margin:         3em;
    font-family:    sans-serif;
    line-height:    1.1;
    background:     #EEEEEE;
    color:          black;
}
CODE {
    font-size:      13pt;
}

A:link, A:active, A:visited { color: blue; text-decoration: none; }
A:hover { text-decoration: underline; }

